body{
    background-color: beige;
    background-image: url('fimage.jpeg');
    background-repeat: no-repeat;
    margin-top: 10%;
    background-size: cover;
    filter: none;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
}

a {
    color: blue;
}
